
@mixin default-font {
  font-family: Arial;
  color: $black;
  font-size: 16px;
  font-weight: normal;
}


@mixin clearfix { // just put @include clearfix on a selector and it'll handle the :after part for you!
	&:after {
		visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
	}
}

@mixin stretchChildren {
  @include display(flex); // these three mixins will make children in a row the same height - look, mom, no javascript!
  @include flex-wrap(wrap); // plus they use bourbon's flexbox mixins to handle all of the vendor prefixing - supports both current spec and the 2009 spec, need to investigate if this also covers the tweener spec for IE 10....???
  @include align-items(stretch); // it's so easy!
}

